<h1>Hi </h1>

<a href="/admin-dashboard/manageSubjects">Manage subjects</a><br>
<a href="/admin-dashboard/manageStudents">Manage Students</a><br>
<a href="/admin-dashboard/manageMarks">Manage Marks</a><br>

<form action="/logout" method="POST">
    <button type="submit">logout</button>
</form>