<h1>Manage Marks</h1>

<form action="/admin-dashboard/manageMarks" method="POST">
        <label for="usn">Student USN</label>
        <input type="text" name="usn">
        <label for="subject">Subject Code</label>
        <input type="text" name="code">
        <label for="marks">Marks</label>
        <input type="text" name="marks">
        <label for="attendance">attendance</label>
        <input type="text" name="attendance">
        
        <button type="submit">add/edit</button>
</form>
